<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medic</h4>
                <h6 class="card-subtitle">New medic</h6>

                <form class="form-horizontal p-t-20" [formGroup]="medicForm" (submit)="createMedic()">

                    <div class="form-group row" *ngIf="selectedMedic">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Image</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img class="w140"
                                    [src]="selectedMedic.img | image:'medics'"
                                    alt="">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3" placeholder="Name"
                                    formControlName="name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospitals</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control" name="" id="" formControlName="hospital">
                                    <option value="">Select an hospital</option>
                                    <option *ngFor="let hospital of hospitals"
                                    [value]="hospital._id">
                                    {{hospital.name}}
                                    </option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button [disabled]="medicForm.invalid" type="submit"
                                class="btn btn-success waves-effect waves-light"> <i class="fa fa-save"></i>
                                Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 animated fadeIn fast" *ngIf="selectedHospital">
        <div class="card">
            <div class="card-body">
                <h4 class="card-tittle"> Hospital </h4>
                <h6 class="card-subtitle"> {{selectedHospital.name}} </h6>

                <img class="img-thumbnail" [src]="selectedHospital.img | image:'hospitals'"
                    alt="">

            </div>
        </div>
    </div>
</div>