<!-- Seacher -->
<div class="row animated fadeIn fast">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Search User.." #textTerm (keyup)="searchMedics(textTerm.value)">
            </div>
        </div>

    </div>
</div>

<!-- Spiner -->
<div class="row animated fadeIn fast" *ngIf="loading">
    <div class="col-12">

        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Loading..</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Please wait</p>
        </div>

    </div>
</div>

<!-- Tables -->
<div class="row" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medics ({{medics.length}})</h4>
                        <h6 class="card-subtitle">Medics registered</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a routerLink="/dashboard/medic/new-medic" class="btn btn-primary">Add Medic
                                <!-- <i class="fa fa-hospital-o">
                                </i> -->
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w100">Image</th>
                                <th>Name</th>
                                <th class="text-nowrap w100">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let medic of medics">
                                <td>
                                    <img [src]="medic.img | image:'medics'" [alt]="medic.name"
                                    class="w100 cursor" (click)="openModal(medic)">
                                </td>
                                <td>{{medic.name}}</td>

                                <td class="text-nowrap text-center">
                                    <!-- [routerLink] = ['/dashboard/medic',medic._id] -->
                                    <a routerLink="../medic/{{medic._id}}" data-toggle="tooltip" data-original-title="Edit"> <i
                                            class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="removeMedic(medic)" class="cursor" data-toggle="tooltip" data-original-title="Remove"> <i
                                            class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
<!-- 
                <button class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i></button>
                &nbsp;
                <button class="btn btn-secondary "><i class="fa fa-arrow-circle-right"></i></button> -->
            </div>
        </div>
    </div>
</div>